




<table>
    <tbody></tbody>
        @ChildContent
</table>


   
@code
{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

   
}

