


@*<span>Pick Board Size: </span>
<select id="gridChoice" @bind="Size" >
    <option value="0">0</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>*@


@code
{
    @*private int size;

    [Parameter]
    public int Size { get; set; }*@

}