
<span id="player-buttons">
    <span>Player: </span>
<span>
    <label for="X">X</label>  
    <input type="radio" id="X" name="player"  checked>
  
</span>

<span>
    <label for="O">O</label>
    <input type="radio" id="O" name="player" >
</span>
</span>






@code
{
    [Parameter]
    public string IsChecked { get; set; }

    
}