

<p id="study-question">Question: @Question</p>
<p>Good Responses: @GoodResponses</p>




@code
{
    [Parameter]
    public string Question { get; set; }

    [Parameter]
    public string GoodResponses { get; set; }
}